.jumbotron2 {
    margin-top:-20px;
    background-image:url("img/sitephotos/Beach.png");
    background-repeat:no-repeat;
    background-size: cover;
    height:500px;
    margin-bottom:0px;
}

.jumbotron3 {
    margin-top:-20px;
    background-repeat:no-repeat;
    background-size: cover;
    height:500px;
    margin-bottom:0px;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("img/sitephotos/Beach.png");
}

.homepage-jumbo-info2 {
      position: relative;
      margin-top:50px;
}

.homepage-jumbo-info-box2 {
    background-color:#e8e8e8;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5%;
    padding-right:5%;
    height:100%;
}

.homepage-jumbo-info-header2 > h1{
    font-size:32px;
    color: #fff;
}

.homepage-jumbo-info-boxinput2{
    margin-bottom:40px;
    box-shadow:none;
    border:none;
    font-size:14px;
}

.homepage-jumbo-info-boxinput2-inactive {
    animation:1s pulse ease;
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    margin-bottom:40px;
    box-shadow:none;
    border: 1px solid #f8650d;
    font-size:14px;
}

.homepage-jumbo-info-boxheader2{
    font-size:22px;
    margin-bottom: 15px;
}

@media (max-width: 800px) {
  .homepage-jumbo-info-header2 {
    padding:5px;
    margin-bottom:10px;
  }
}

@media (max-width: 330px) {
  .homepage-jumbo-info-boxinput2 {
    margin-bottom:40px;
    box-shadow:none;
    border:none;
    font-size:10px;
  }
.homepage-jumbo-info-boxinput2-inactive {
    animation:1s pulse ease;
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    margin-bottom:40px;
    box-shadow:none;
    border: 1px solid #f8650d;
    font-size:10px;
}    
}

@media (max-width: 350px) {
  .jumbotron3 {
    padding-left:5px;
    padding-right:5px;
  }
    .homepage-jumbo-info2{
    padding-left:0;
    padding-right:0;
    }
}

.homepage-jumbo-info-boxbutton2{
    padding: 15px;
    font-size: 20px;
    width: 90%;
    border: none;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

.homepage-jumbo-info-boxbutton2-active{
    padding: 15px;
    font-size: 20px;
    width: 90%;
    border: none;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    background-color: #f8650d;
    color:#fff;
}