<div variation="0" class="jumbotron">
    <div class="container">
        <div class="homepage-jumbo-info col-sm-offset-7 col-sm-5">
            <div class="homepage-jumbo-info-header">
                <h1>We'll help you find a <br><b>financial planner</b>, hassle-free</h1>
            </div>
            <div class="homepage-jumbo-info-box">
                <h2 class="homepage-jumbo-info-boxheader"><b>Compare verified planners</b> in your area</h2>
                <input vs-google-autocomplete="options"         
                ng-model="searchquery.address.name" 
                vs-street-number="searchquery.address.streetNumber" 
                vs-street="searchquery.address.street"
                vs-city="searchquery.address.city"
                vs-state="searchquery.address.state"
                vs-country-short="searchquery.address.countryCode"
                vs-country="searchquery.address.country"
                vs-latitude="searchquery.lat"
                vs-longitude="searchquery.long" 
                type="text" 
                name="address"
                id="address"
                class="form-control homepage-jumbo-info-boxinput"
                placeholder="In which city / suburb do you live?">
            </div>
            <div class="form-group homepage-searchbutton homepage-jumbo-info-boxbutton">
                <p id="homepage-searchbutton-text"><a href="#/search" class="searchprofilefooter-link">SEARCH NOW&nbsp;&nbsp;&nbsp;<i class="fa fa-search"></i></a></p>
            </div>
        </div>
    </div>
</div>

<div variation="1" class="jumbotron2">
    <div class="container">
        <div class="homepage-jumbo-info2 col-sm-offset-7 col-sm-5">
            <div class="homepage-jumbo-info-header2">
                <h1>We'll help you find a <b>financial planner</b>, hassle-free</h1>
            </div>
            <div class="homepage-jumbo-info-box2">
                <h2 class="homepage-jumbo-info-boxheader2"><b>Compare customer reviewed planners</b> in your area</h2>
                <input vs-google-autocomplete="options"         
                ng-model="searchquery.address.name" 
                vs-street-number="searchquery.address.streetNumber" 
                vs-street="searchquery.address.street"
                vs-city="searchquery.address.city"
                vs-state="searchquery.address.state"
                vs-country-short="searchquery.address.countryCode"
                vs-country="searchquery.address.country"
                vs-latitude="searchquery.lat"
                vs-longitude="searchquery.long" 
                type="text" 
                name="address"
                id="address"
                ng-class="{ 'form-control homepage-jumbo-info-boxinput2-inactive': !searchquery.addressCompleted, 'form-control homepage-jumbo-info-boxinput2': searchquery.addressCompleted }"
                placeholder="In which city / suburb do you live?">
            </div>
            <div>
                <button ng-click="linkButton('/search')" ng-class="{ 'homepage-jumbo-info-boxbutton2': !searchquery.addressCompleted, 'homepage-jumbo-info-boxbutton2-active': searchquery.addressCompleted }">SEARCH NOW&nbsp;&nbsp;&nbsp;<i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid homepage-body-steps">
    <div class="col-sm-12 homepage-body-header">
        <h2><b>Find The Right Planner With 3 Simple Steps</b></h2>
    </div>

    <div class="col-sm-4 homepage-body-steps-info">
            <h4 class="homepage-body-icons"><img id="homepage-body-icons" src="img/icons/search.png"></img></h4>
            <h3 class="homepage-body-icons-title"><b>SEARCH</b></h3>
            <p class="homepage-body-icons-text">Search for independently verified planners in your local area that can meet your requirements.</p>
    </div>

    <div class="col-sm-4 homepage-body-steps-info">
            <h4 class="homepage-body-icons"><img id="homepage-body-icons" src="img/icons/compare.png"></img></h4>
            <h3 class="homepage-body-icons-title"><b>COMPARE</b></h3>
            <p class="homepage-body-icons-text">Compare planners based on their offerings, qualifications and actual customer reviews.</p>
    </div>

    <div class="col-sm-4 homepage-body-steps-info">
        <h4 class="homepage-body-icons"><img id="homepage-body-icons" src="img/icons/schedule.png"></img></h4>
        <h3 class="homepage-body-icons-title"><b>SCHEDULE</b></h3>
        <p class="homepage-body-icons-text">Click to automatically schedule a meeting with your chosen planner at a time that suits you.</p>
    </div>
</div>
    <div class="row homepage-body-carousel-header">
        <div class="col-sm-12 homepage-body-header">
        <h2><b>Our Planners Partner With The Biggest Companies In South Africa</b></h2>
        </div>
    </div>
    <div class="row homepage-body-carousel">
        <carousel interval="myInterval" disable-animation="true">
            <slide ng-repeat="slide in slides" active="slide.active">
              <img ng-src="img/sitephotos/{{slide.image}}.png" alt="{{slide.image}}" style="margin:auto;">
            </slide>
        </carousel>
    </div>

    <div class="container-fluid homepage-body-video">
            <p class="homepage-body-video-text">Watch our short video to see how it works in more detail</p>
                <div class="videoWrapper">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-rsr45s2mws" frameborder="0" allowfullscreen></iframe>
                </div>
    </div>

<div class="container-fluid homepage-body-steps">
    <div class="col-sm-12 homepage-body-header">
        <h2><b>How Objective Money Helps You</b></h2>
    </div>
    <div class="row">
    <div class="col-sm-4 homepage-body-steps-info">
        <h4 class="homepage-body-icons"><img id="homepage-body-icons-how" src="img/icons/independent.png"></img></h4>
        <h3 class="homepage-body-icons-title"><b>INDEPENDENT</b></h3>
        <p class="homepage-body-icons-text">All of our advisers have been independently verified, helping you to avoid any sharks.</p>
    </div>

    <div class="col-sm-4 homepage-body-steps-info">
            <h4 class="homepage-body-icons"><img id="homepage-body-icons-how" src="img/icons/user-review.png"></img></h4>
            <h3 class="homepage-body-icons-title"><b>USER REVIEWED</b></h3>
            <p class="homepage-body-icons-text">All of our advisers are reviewed by genuine users, helping you make sure that the adviser is the right match for you.</p>
    </div>

    <div class="col-sm-4 homepage-body-steps-info">
            <h4 class="homepage-body-icons"><img id="homepage-body-icons-how" src="img/icons/tailored.png"></img></h4>
            <h3 class="homepage-body-icons-title"><b>TAILORED</b></h3>
            <p class="homepage-body-icons-text">Search functionality lets you specify your ideal adviser.</p>
    </div>
    </div>    

    <div class="row">
    <div class="col-sm-offset-2 col-sm-4 homepage-body-steps-info">
        <h4 class="homepage-body-icons"><img id="homepage-body-icons-how" src="img/icons/quick.png"></img></h4>
        <h3 class="homepage-body-icons-title"><b>QUICK</b></h3>
        <p class="homepage-body-icons-text">No need for lengthy internet research, enquiry calls or getting hold of friends and family to help you.</p>
    </div>
    
    <div class="col-sm-offset-right-2 col-sm-4 homepage-body-steps-info">
        <h4 class="homepage-body-icons"><img id="homepage-body-icons-how" src="img/icons/free-2.png"></img></h4>
        <h3 class="homepage-body-icons-title"><b>FREE</b></h3>
        <p class="homepage-body-icons-text">Our service is entirely free of charge.</p>
    </div>
    </div>

</div>