<div class="container">
    <div class="col-sm-8 blogexcerpts">
        <div class="blogexcerpt-filterInfo" ng-show="blogCategory !== 'All'">
        <p class="blogexcerpt-filterInfo-text">Viewing Articles On: <b>{{blogCategory}}</b></p>
        </div>
        
        <article ng-hide="blogCategory !== 'All' && blogCategory !== 'Finding A Planner'"><!--Update based on post-->
            <div class="blogexcerpt">
                <div class="blogexcerpt-photocontainer">
                    <img ng-src="img/blogphotos/intro/google_search_data.png" class="blogexcerpt-photo" alt="Google Search Financial Planner South Africa Intro Image"/><!--Update based on post-->
                </div>
                <div class="blogexcerpt-info">
                    <p class="blogexcerpt-infotext">                    
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;12th August, 2015
                    </p><!--Update based on post-->
                </div> 
                <div class="blogexcerpt-excerpt">
                    <div class="blogexcerpt-excerpt-title">
                        <p><b><a href="6-things-that-online-data-tells-you-about-financial-planning" class="blogexcerpt-link">6 Things That Online Data Tells You About Financial Planning</a></b></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-category">
                        <p>Posted In: <a ng-click="setBlogCategory('Finding A Planner')" class="blogexcerpt-link">Finding A Planner</a></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-body">
                        <p>The internet is our source of information for almost eveyrthing today and analysing data generated through the web can reveal great insights.</p>
                        <p>Objective Money trawled through the Google search and twitter databases to find out what internet data could tell us about financial planning.</p><!--Update based on post--> 
                    </div> 
                    <div class="blogexcerpt-readmore">
                        <button class="blogexcerpt-readmore-button" ng-click="readMore('/6-things-that-online-data-tells-you-about-financial-planning')">READ MORE&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button><!--Update based on post-->
                    </div>           
                </div> 
            </div>
        </article>         
        
        <article ng-hide="blogCategory !== 'All' && blogCategory !== 'Investing Information'"><!--Update based on post-->
            <div class="blogexcerpt">
                <div class="blogexcerpt-photocontainer">
                    <img ng-src="img/blogphotos/intro/robo_advice_intro.jpg" class="blogexcerpt-photo" alt="What Is Financial Robo-Advice Intro Image"/><!--Update based on post-->
                </div>
                <div class="blogexcerpt-info">
                    <p class="blogexcerpt-infotext">                    
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;5th August, 2015
                    </p><!--Update based on post-->
                </div> 
                <div class="blogexcerpt-excerpt">
                    <div class="blogexcerpt-excerpt-title">
                        <p><b><a href="what-you-need-to-know-about-robo-advice" class="blogexcerpt-link">What You Need To Know About Robo-Advice</a></b></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-category">
                        <p>Posted In: <a ng-click="setBlogCategory('Investing Information')" class="blogexcerpt-link">Investing Information</a></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-body">
                        <p>Robo-advice is the talk of the town and will be coming to South Africa soon.</p>
                        <p>Don't just get caught up in the hype, read this article to understand more about what robo-advice is and is not.</p><!--Update based on post--> 
                    </div> 
                    <div class="blogexcerpt-readmore">
                        <button class="blogexcerpt-readmore-button" ng-click="readMore('/what-you-need-to-know-about-robo-advice')">READ MORE&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button><!--Update based on post-->
                    </div>  
                    <div class="row blogexcerpt-plannerreply">
                        <div class="blogexcerpt-plannerreply-title">
                            <p><b>Read The Planner's Reply</b></p><!--Update based on post-->
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-6 blogexcerpt-plannerbio">
                        <a class="blogexcerpt-link" href="plannerprofilefull1" target="_blank">
                            <p><img class="blogexcerpt-plannerbio-photo img-circle img-responsive" ng-src="img/plannerprofiles/shaun_gravett.png" alt="Shaun Gravett, CFP Financial Planner, South Africa"/><span class="blogexcerpt-plannerbio-text">Shaun Gravett<br>CA(SA), CFP<sup>®</sup> Professional<br>PSG Wealth</span></p><!--Update based on post-->
                        </a>
                    </div>
                   <div class="col-sm-6 blogexcerpt-plannerbio-intro">
                       <p>Whilst robo-advisors have their place they are lacking in a number of areas. Especially, in their inability to coach a client and their narrow financial focus.<br><a href="what-you-need-to-know-about-robo-advice_planner-reply" class="blogexcerpt-link" target="_blank"><b>Read More...</b></a><!--Update based on post-->
                       </p>
                    </div>    
                    </div>
                </div> 
            </div>
        </article>         
        
        <article ng-hide="blogCategory !== 'All' && blogCategory !== 'Investing Information'"><!--Update based on post-->
            <div class="blogexcerpt">
                <div class="blogexcerpt-photocontainer">
                    <img ng-src="img/blogphotos/intro/Property_vs_Stock_Infographic_Intro.png" class="blogexcerpt-photo" alt="Property versus Stock Market Investing Banner Intro Image"/><!--Update based on post-->
                </div>
                <div class="blogexcerpt-info">
                    <p class="blogexcerpt-infotext">                    
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;4th August, 2015
                    </p><!--Update based on post-->
                </div> 
                <div class="blogexcerpt-excerpt">
                    <div class="blogexcerpt-excerpt-title">
                        <p><b><a href="stock-versus-property-investing" class="blogexcerpt-link">5 Facts You Need To Know Before Deciding Between Stock Market and Property Investment</a></b></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-category">
                        <p>Posted In: <a ng-click="setBlogCategory('Investing Information')" class="blogexcerpt-link">Investing Information</a></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-body">
                        <p>Deciding whether to put your nest egg in properties or stocks? There are strong advocates on either side of the fence who will give you conflicting advice.</p>
                        <p>Make sure that before you make any decision you are armed with these five facts.</p><!--Update based on post--> 
                    </div> 
                    <div class="blogexcerpt-readmore">
                        <button class="blogexcerpt-readmore-button" ng-click="readMore('/stock-versus-property-investing')">READ MORE&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button><!--Update based on post-->
                    </div>
                    <div class="row blogexcerpt-plannerreply">
                        <div class="blogexcerpt-plannerreply-title">
                            <p><b>Read The Planner's Reply</b></p><!--Update based on post-->
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-6 blogexcerpt-plannerbio">
                        <a class="blogexcerpt-link" href="plannerprofilefull1" target="_blank">
                            <p><img class="blogexcerpt-plannerbio-photo img-circle img-responsive" ng-src="img/plannerprofiles/shaun_gravett.png" alt="Shaun Gravett, CFP Financial Planner, South Africa"/><span class="blogexcerpt-plannerbio-text">Shaun Gravett<br>CA(SA), CFP<sup>®</sup> Professional<br>PSG Wealth</span></p><!--Update based on post-->
                        </a>
                    </div>
                   <div class="col-sm-6 blogexcerpt-plannerbio-intro">
                       <p>Whilst people may feel comfortable holding a physical asset it is typically at the detriment of their long-term returns. For most people, investing in the stock market will be a better choice than property.<br><a href="stock-versus-property-investing_planner-reply" class="blogexcerpt-link" target="_blank"><b>Read More...</b></a><!--Update based on post-->
                       </p>
                    </div>    
                    </div>
                </div> 
            </div>
        </article>  

        <article ng-hide="blogCategory !== 'All' && blogCategory !== 'Finding A Planner'"><!--Update based on post-->
            <div class="blogexcerpt">
                <div class="blogexcerpt-photocontainer">
                    <img ng-src="img/blogphotos/intro/Independent_Financial_Planner_Intro.png" class="blogexcerpt-photo" alt="Independent Financial Advisors Explained Intro Image"/><!--Update based on post-->
                </div>
                <div class="blogexcerpt-info">
                    <p class="blogexcerpt-infotext">                    
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;22nd July, 2015
                    </p><!--Update based on post-->
                </div> 
                <div class="blogexcerpt-excerpt">
                    <div class="blogexcerpt-excerpt-title">
                        <p><b><a href="what-is-an-independent-financial-planner" class="blogexcerpt-link">What Is An Independent Financial Planner Anyway?</a></b></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-category">
                        <p>Posted In: <a ng-click="setBlogCategory('Finding A Planner')" class="blogexcerpt-link">Finding A Planner</a></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-body">
                         <p>You will often hear people refer to independent and tied financial planners and it is an important distinction to understand.</p>
                         <p>This article explains the differences between the two and why it matters to you.</p>
<!--Update based on post--> 
                    </div> 
                    <div class="blogexcerpt-readmore">
                        <button class="blogexcerpt-readmore-button" ng-click="readMore('/what-is-an-independent-financial-planner')">READ MORE&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button><!--Update based on post-->
                    </div>           
                </div> 
            </div>
        </article>         

        <article ng-hide="blogCategory !== 'All' && blogCategory !== 'Finding A Planner'"><!--Update based on post-->
            <div class="blogexcerpt">
                <div class="blogexcerpt-photocontainer">
                    <img ng-src="img/blogphotos/intro/Planner_Fee_Flow_Intro.png" class="blogexcerpt-photo" alt="What Fees Does A Financial Advisor Charge Intro Image"/><!--Update based on post-->
                </div>
                <div class="blogexcerpt-info">
                    <p class="blogexcerpt-infotext">                    
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;20th July, 2015
                    </p><!--Update based on post-->
                </div> 
                <div class="blogexcerpt-excerpt">
                    <div class="blogexcerpt-excerpt-title">
                        <p><b><a href="what-fees-does-a-financial-planner-charge" class="blogexcerpt-link">What Fees Does a Financial Planner Charge?</a></b></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-category">
                        <p>Posted In: <a ng-click="setBlogCategory('Finding A Planner')" class="blogexcerpt-link">Finding A Planner</a></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-body">
                         <p>Nobody works for free and neither will a financial planner. Before you sign on the dotted line it is critical that you understand how a planner makes money.</p>
                         <p>Read more to find out exactly what kind of fees you are likely to pay and get access to some rough industry benchmarks on the amount that you should expect paying.</p>
<!--Update based on post--> 
                    </div> 
                    <div class="blogexcerpt-readmore">
                        <button class="blogexcerpt-readmore-button" ng-click="readMore('/what-fees-does-a-financial-planner-charge')">READ MORE&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button><!--Update based on post-->
                    </div>           
                </div> 
            </div>
        </article>    
        
        <article ng-hide="blogCategory !== 'All' && blogCategory !== 'Investing Information'"><!--Update based on post-->
            <div class="blogexcerpt">
                <div class="blogexcerpt-photocontainer">
                    <img ng-src="img/blogphotos/intro/Stock_Market_Primer_Intro.png" class="blogexcerpt-photo" alt="Introduction To The Stock Market Intro Image"/><!--Update based on post-->
                </div>
                <div class="blogexcerpt-info">
                    <p class="blogexcerpt-infotext">                    
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;6th July, 2015
                    </p><!--Update based on post-->
                </div> 
                <div class="blogexcerpt-excerpt">
                    <div class="blogexcerpt-excerpt-title">
                        <p><b><a href="introduction-to-financial-markets" class="blogexcerpt-link">An Introduction to Financial Markets</a></b></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-category">
                        <p>Posted In: <a ng-click="setBlogCategory('Investing Information')" class="blogexcerpt-link">Investing Information</a></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-body">
                         <p>What is the purpose of the Stock Market? How does it work and what should I know when considering investing?</p> 
                        <p>This article will help you to understand the basics of the stock market and is a must read before you start investing.</p>
<!--Update based on post--> 
                    </div> 
                    <div class="blogexcerpt-readmore">
                        <button class="blogexcerpt-readmore-button" ng-click="readMore('/introduction-to-financial-markets')">READ MORE&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button><!--Update based on post-->
                    </div>           
                </div> 
            </div>
        </article>  
        
        <article ng-hide="blogCategory !== 'All' && blogCategory !== 'Finding A Planner'"><!--Update based on post-->
            <div class="blogexcerpt">
                <div class="blogexcerpt-photocontainer">
                    <img ng-src="img/blogphotos/intro/Planner_As_A_Friend_Intro.png" class="blogexcerpt-photo" alt="Choose A Financial Advisor As You Would A Friend Intro Image"/><!--Update based on post-->
                </div>
                <div class="blogexcerpt-info">
                    <p class="blogexcerpt-infotext">                    
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;24th June, 2015
                    </p><!--Update based on post-->
                </div> 
                <div class="blogexcerpt-excerpt">
                    <div class="blogexcerpt-excerpt-title">
                        <p><b><a href="choose-your-planner-like-you-would-a-friend-not-a-toothbrush" class="blogexcerpt-link">Choose Your Financial Planner Like You Would A Friend, Not A Toothbrush</a></b></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-category">
                        <p>Posted In: <a ng-click="setBlogCategory('Finding A Planner')" class="blogexcerpt-link">Finding A Planner</a></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-body">
                        <p>When choosing a financial planner you need to consider how well you get on with them at a personal level. In order for the relationship to be a success you need to trust them.</p>
                        <p>Click to find out how you can decide if a planner is the right fit for you.</p>
<!--Update based on post--> 
                    </div> 
                    <div class="blogexcerpt-readmore">
                        <button class="blogexcerpt-readmore-button" ng-click="readMore('/choose-your-planner-like-you-would-a-friend-not-a-toothbrush')">READ MORE&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button><!--Update based on post-->
                    </div>           
                </div> 
            </div>
        </article>        

        <article ng-hide="blogCategory !== 'All' && blogCategory !== 'Finding A Planner'"><!--Update based on post-->
            <div class="blogexcerpt">
                <div class="blogexcerpt-photocontainer">
                    <img ng-src="img/blogphotos/intro/Planner_Not_A_Scammer_Intro.png" class="blogexcerpt-photo" alt="How To Make Sure That Your Financial Advisor Is Legitimate Intro Image"/><!--Update based on post-->
                </div>
                <div class="blogexcerpt-info">
                    <p class="blogexcerpt-infotext">                    
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;18th June, 2015
                    </p><!--Update based on post-->
                </div> 
                <div class="blogexcerpt-excerpt">
                    <div class="blogexcerpt-excerpt-title">
                        <p><b><a href="how-to-ensure-your-planners-not-a-scammer" class="blogexcerpt-link">How To Ensure Your Planner’s Not A Scammer</a></b></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-category">
                        <p>Posted In: <a ng-click="setBlogCategory('Finding A Planner')" class="blogexcerpt-link">Finding A Planner</a></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-body">
                        <p>The sad truth is that there are some planners out there who might not have your best interests at heart and could rip you off. Clearly, this must be avoided at all costs.</p>
                        <p>Fortunately, it is relatively simple to find out if they are a credible planner. Read more to learn tried and tested methods for avoiding scamming planners.</p>
<!--Update based on post--> 
                    </div> 
                    <div class="blogexcerpt-readmore">
                        <button class="blogexcerpt-readmore-button" ng-click="readMore('/how-to-ensure-your-planners-not-a-scammer')">READ MORE&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button><!--Update based on post-->
                    </div>           
                </div> 
            </div>
        </article>   
        
        <article ng-hide="blogCategory !== 'All' && blogCategory !== 'Finding A Planner'"><!--Update based on post-->
            <div class="blogexcerpt">
                <div class="blogexcerpt-photocontainer">
                    <img ng-src="img/blogphotos/intro/Value_Of_A_Planner_Intro.png" class="blogexcerpt-photo" alt="Is A Financial Planner Worth It Intro Image"/><!--Update based on post-->
                </div>
                <div class="blogexcerpt-info">
                    <p class="blogexcerpt-infotext">                    
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;8th June, 2015
                    </p><!--Update based on post-->
                </div> 
                <div class="blogexcerpt-excerpt">
                    <div class="blogexcerpt-excerpt-title">
                        <p><b><a href="what-is-the-value-of-a-financial-planner" class="blogexcerpt-link">What Is the Value of a Financial Planner?</a></b></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-category">
                        <p>Posted In: <a ng-click="setBlogCategory('Finding A Planner')" class="blogexcerpt-link">Finding A Planner</a></p><!--Update based on post-->
                    </div>
                    <div class="blogexcerpt-excerpt-body">
                        <p>Why should I get a financial planner anyway and what do they actually do for me?</p>
                        <p>The simple answer is that they should be doing a lot for you. This article explains how the average financial planner will generate an additional 1.8% of wealth for you per annum.</p>
<!--Update based on post--> 
                    </div> 
                    <div class="blogexcerpt-readmore">
                        <button class="blogexcerpt-readmore-button" ng-click="readMore('/what-is-the-value-of-a-financial-planner')">READ MORE&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button><!--Update based on post-->
                    </div>           
                </div> 
            </div>
        </article>        
        <h6><small>The content of this website is intended for general information only and is not intended to serve as financial or other advice. Objective Money does not guarantee, express or implied, the availability or the accuracy of information, nor is it responsible for any decisions taken, based on this information.</small></h6>
    </div>  
    <blog-sidebar blog-category="blogCategory" set-blog-category="setBlogCategory(blogCategory)" current-path="currentPath" load-share-this="loadShareThis()"></blog-sidebar>
</div>