<div ng-class="{ 'col-md-4 sidebaropen sidebarsmall': sidebarOpen, 'col-md-1 sidebarclosed sidebarsmall sidebarclosed': !sidebarOpen }">
<!-- SEARCH SIDEBAR -->    
    <!-- create space for the search sidebar with width 4 if expanded and 1 if collapsed -->        
    <!-- expand / collapse the side bar upon click and change the icon to expand / collapse -->
        <div>
            <a ng-click="toggle()">
                <div ng-show="sidebarOpen"><i class="fa fa-arrow-circle-up pull-right collapse"></i></div>
                <div ng-show="!sidebarOpen"><i class="fa fa-arrow-circle-down collapse pull-right"></i></div>
            </a><br>
        </div>

        <div ng-hide="!sidebarOpen">

            <form name="plannerSearch">
                <!-- LOCATION -->    
                <!-- ask the user to specify their location -->    
                <div class="form-group">
                    <label class="plannerSearch-question" for="address"><b>In which city / suburb do you live?</b></label>
                    <input vs-google-autocomplete="options"         
                        ng-model="searchData.address.name" 
                        vs-street-number="searchData.address.streetNumber" 
                        vs-street="searchData.address.street"
                        vs-city="searchData.address.city"
                        vs-state="searchData.address.state"
                        vs-country-short="searchData.address.countryCode"
                        vs-country="searchData.address.country"
                        vs-latitude="searchData.lat"
                        vs-longitude="searchData.long" 
                        type="text" 
                        name="address"
                        id="address"
                        class="form-control plannerSearch-answer-address">
                </div>
                
                <!-- DEFINE CLIENT ASSET VALUE -->
                <!-- create a slider in the sidebar that allows users to specify their monhtly salary -->    
        
                <div class="form-group">
                    <label class="plannerSearch-question" for="monthlysalary">What is your monthly gross salary?</label>
                        <slider class="plannerSearch-slider" id="monthlysalary" name="monthlysalary" floor="0" ceiling="200000" step="10000" ng-model="searchData.monthlysalary" analytics-on="click" analytics-event="Monthly Salary" analytics-category="Commands"></slider>
                    <div name="monthlysalary" class="form-control plannerSearch-answer-slider">
                        <span ng-show="searchData.monthlysalary < 200000">{{ searchData.monthlysalary | currency : "R" : 0 }}</span>
                        <span ng-show="searchData.monthlysalary >= 200000">R200,000+</span>
                    </div>
                </div>
        
                <!-- create a slider in the sidebar that allows users to specify their lump sum amount -->
        
                <div class="form-group">
                    <label class="plannerSearch-question" for="lumpsum">Do you have a lump sum to be advised on, if so how much?</label>
                    <slider class="plannerSearch-slider" id="lumpsum" name="lumpsum" floor="0" ceiling="5000000" step="50000" ng-model="searchData.lumpsum"  analytics-on="click" analytics-event="Lump Sum" analytics-category="Commands"></slider>
                    <div name="lumpsum" class="form-control plannerSearch-answer-slider">
                        <span ng-show="searchData.lumpsum < 5000000">{{ searchData.lumpsum | currency : "R" : 0 }}</span>
                        <span ng-show="searchData.lumpsum >= 5000000">R5,000,000+</span>
                    </div>
                </div>

                <!-- DEFINE CLIENT SERVICES REQUIRED -->
                <!-- create a multiplecheck box that allows the user to specify which services they require -->         
       
            <div class="form-group">
              <accordion>
                <accordion-group is-open="status.open" class="plannerSearch-accordion">
                    <accordion-heading>
                        <label class="plannerSearch-question">SERVICES REQUIRED</label> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <label class="checkbox plannerSearch-first-accordian-option">
                        <input type="checkbox" id="services" name="services" ng-model="searchData.investments"> Investments
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="services" name="services" ng-model="searchData.LT"> Long Term Insurance
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="services" name="services" ng-model="searchData.ST"> Short Term Insurance
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="services" name="services" ng-model="searchData.TP"> Tax Planning
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="services" name="services" ng-model="searchData.EP"> Estate Planning
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="services" name="services" ng-model="searchData.MA"> Medical Aid
                    </label>
                </accordion-group>
              </accordion>        
            </div>

                <!-- DEFINE CLIENT LANGUAGE PREFERENCES -->
                <!-- create a multiplecheck box that allows the user to specify which languages they prefer -->         
        
                <div class="form-group">
                  <accordion>
                    <accordion-group is-open="status.open" class="plannerSearch-accordion plannerSearch-second-accordion">
                    <accordion-heading>
                        <label class="plannerSearch-question">PLANNER LANGUAGES</label> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <label class="checkbox plannerSearch-first-accordian-option">
                        <input type="checkbox" name="languages" ng-model="searchData.english"> English
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.afrikaans"> Afrikaans
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.zulu"> Zulu
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.xhosa"> Xhosa
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.southernsotho"> Southern Sotho
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.tswana"> Tswana
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.northernsotho"> Northern Sotho
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.tsonga"> Tsonga
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.venda"> Venda
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.swati"> Swati
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="languages" ng-model="searchData.ndebele"> Ndebele
                    </label>
                    </accordion-group>
                  </accordion>     
                </div>

                <!-- DEFINE CLIENT GENDER PREFERENCES -->
                <!-- create radio buttons that allow the user to specify which gender they prefer -->         
        
                <div class="form-group">
                  <accordion>
                    <accordion-group is-open="status.open" class="plannerSearch-accordion plannerSearch-second-accordion">
                    <accordion-heading>
                        <label class="plannerSearch-question">PLANNER GENDER</label> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <label class="radio-inline plannerSearch-first-accordian-option"><input type="radio" name="gender" value="male" ng-model="searchData.gender">Male</label>
                    <label class="radio-inline"><input type="radio" name="gender" value="female" ng-model="searchData.gender">Female</label>
                      </accordion-group>
                    </accordion>
                </div>
                
                <div class="form-group">
                  <accordion>
                    <accordion-group is-open="status.open" class="plannerSearch-accordion plannerSearch-second-accordion">
                    <accordion-heading>
                        <label class="plannerSearch-question">PLANNER NAME</label> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <input         
                        ng-model="searchData.query"
                        type="text" 
                        name="plannername"
                        id="plannername"
                        class="form-control plannerSearch-answer-address">
                      </accordion-group>
                    </accordion>
                </div>
                
            </form>
        </div>
    </div>